body {
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    height: 100vh;

}

#top-bar {
    background-color: bisque;
}

#contents {
    background-color: aquamarine;
}

#logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}

#searchbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background-color: blueviolet;
}

input[type=text] {
    width: 50%;
    height: 50%;
    font: 400 13.3333px Arial;
    height:40px;
    font-size:14pt;
    border-radius: 30px;
    padding: 8px;
}

input[type=text]:focus::placeholder {
    color: transparent;
}

#lower-bar {
    background-color: black;
}

#image {
    height: 92px;
}
